<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    <footer>
        <div class="footer-content">
            <div class="footer-logo">
                <img src="/images/Logo.png" alt="Footer Logo">
            </div>
            <div class="footer-info">
                <p>&copy; 2023 Erik Skaragos</p>
                <p>Contact: <a href="mailto:skaragos.erik@gmail.com">skaragos.erik@gmail.com.com</a></p>
                <p>Follow me on <a href="https://www.linkedin.com/in/skaragos-erik">LinkedIn</a></p>
            </div>
        </div>
    </footer>
</body>
</html>
<!--ErikSkaragos_Portfolio, Erik Skaragos, 301344796, September 24,2023.-->
